.home-wrapper {
  min-height: 600px;
}

.home-inner {
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #999993;
  height: 160px;
}

.home-inner img {
  border-radius: 50%;
  margin-top: 15px;
}

.home-inner .home-inline .home-id {
  display: inline-block;
  color: #5488c7;

}

.home-inner .home-inline .home-time {
  display: inline-block;
  color: #999993;
  margin-left: 20px;
}

.home-inner .home-title {
  font-size: 25px;
  display: block;
  font-weight: 500;
}

.home-inner .home-brief {
  font-size: 13px;
  display: block;
}

.home-inner .home-tag {
  background-color: #5488c7;
  width: 100px;
  border-radius: 25px;
  border: none;
  text-align: center;
  padding: 5px 20px;
  margin-top: 10px;
  text-transform: uppercase;

}